# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# System files
desktop.ini
Thumbs.db
.DS_Store

# Virtual environments & IDE
venv/
.venv/
env/
.env/
.vscode/

# Environment secrets
.env
